html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
// 1440 1200
@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}
.container {
    margin: 0 auto;
    max-width: 1160px;
    padding: 20px;
}
.header {
    padding-top: 30px;
    &__inner {
        @include flex(center, space-between);
    }
    &__logo {
        &-text {
            font-size: 3rem
        }
    }
    &__menu {
        &-list {
            @include flex(center, flex-end);
        }
        &-item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0px;
            }
            &:nth-last-child(2) {
                margin-right: 20px;
            }
            &:nth-last-child(3) {
                margin-right: 60px;
            }
        }
        &-link {
            text-decoration: none;
            font-size: 2rem;
            font-weight: 400;
        }
    }
}
.btn {
    padding: 1.7rem 2.7rem;
    border: 3px solid #ccffff;
    background-color: white;
    border-radius: 1rem;
    &:last-child {
        background-color: #ccffff;
    }
}
